body {
    background: #181818;
    height: 100vh;
}

#headerBox {
    padding: 5px 0;
    text-align: center;
    width: 75%;
    margin: auto auto;
    margin-top: 30px;
}

#searchBox {
    width: 75%;
    margin: auto auto;
    margin-top: 30px;
    box-sizing: border-box;
    padding-top: 20px;
    padding-bottom: 10px;
    border-radius: 10px;
}

#searchValue {
    border-bottom: 1px solid #512DA8;
    box-shadow: 0 1px 0 0 #512DA8;
}

#searchValue:focus + label {
    color: #512DA8;
  }

.input-field .prefix.active {
    color: #512DA8;
}