body {
    background: #181818;
    height: 100vh;
}

#headerBox {
    padding: 5px 0;
    text-align: center;
    width: 75%;
    margin: auto auto;
    margin-top: 40px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

#searchBox {
    width: 75%;
    margin: auto auto;
    box-sizing: border-box;
    padding: 30px 20px 10px 20px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

#searchValue {
    border-bottom: 1px solid #ffab00;
    box-shadow: 0 1px 0 0 #ffab00;
}

#searchValue:focus + label {
    color: #ffab00;
  }

.input-field .prefix.active {
    color: #ffab00;
}

.dropdown-content li>a, .dropdown-content li>span {
    color: #ffab00;
}

#dataContainer {
    margin-top: 50px;
}

#shorMovies, #fullMovie {
    display: none;
}

.card-movie {
    margin-bottom: 20px;
}

.fa-star {
    color: #E4BB24;
}

.fa-imdb {
    color: #E4BB24;
    background: #333;
}

#card-alert {
    border-radius: 10px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}